@charset "utf-8";
/* CSS Document */
*{ padding: 0; margin: 0;}
body{color: #333;font-size: 12px;font-family:"microsoft yahei", Arial, Helvetica, sans-serif;}
ol, ul, li, dl, dt, dd {list-style: none; }
input,button,select,textarea{outline:none;border: 0;}
ul,ol{ overflow:hidden;}li{float:left;}
a{ text-decoration:none; color:#333;}
a:active{ -webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
.fl{ float:left;}.fr{ float:right;}
.w{width: 1200px;margin:0 auto;}
.clear{ clear:both} 

.top_msg{
	background: #f3f3f3;
	height: 36px;
	line-height: 36px;}
.top_msg .top_msg_a1{
	color: #21a557;
}
.top_msg a.fr img{
	margin-right: 6px;
}

.head{
	padding: 30px 0 36px;
}
.head .follow{
	display: inline-block;
	margin: 0 14px 0 30px;
	width: 54px;height: 21px;
	background: #21a557;
	border-radius: 2px;
	line-height: 21px;
	text-align: center;
	color: #fff;
}
.head .follow:hover{background: #2fb556;}
.head .fans{color: #666;}
.head .fr a{
	margin: 0 19px;
	font-size: 16px;
}
.head .fr a:hover{color: #39a030;}
.head .fr .search{display: inline-block;vertical-align: text-bottom;
	margin: 2px 0 0 30px;width: 19px;height: 19px;
	background: url(../images/se.png) center top no-repeat;}
	.head .fr .search:hover{background: url(../images/se.png) center bottom no-repeat;}

.banner{
	width: 100%;
	height: 460px;
	overflow: hidden;
	position: relative;
}
.banner-list{
	width: 1652px;
	position: absolute;left: 50%;margin-left:-826px ;
	transition: all .5s ease;
    opacity:0;
}
.show{display:block;opacity:1;}
.point{
	position: absolute;
	width: 100%;
	bottom: 20px;
	text-align:center;
}
.point span{
	display: inline-block;
	width:10px; height: 10px;
	border-radius: 50%;
	background:#fff;
	margin-left: 8px;
	cursor: pointer;
}
.point span.action{background: #333;}


.block3f{padding: 50px 0;}
.block3{display: inline-block;width: 340px;margin-right: 80px;}
.block3.mr0{margin-right: 0;}
.block3 img{float: left;margin-top: 12px;}
.b3c{float: right;width: 240px;}
.b3c h4{font-size: 22px;font-weight: normal;margin-bottom: 14px;}
.b3c p{font-size: 14px;color: #666;line-height: 24px;margin-bottom: 24px;}
.b3c a{font-size: 14px;color: #39a030;}
.b3c a:hover{text-decoration: underline;}

.f8f8f8{background: #f8f8f8;padding:0 0 120px;}
.banner2{position: relative;top: 2px;height: 222px;}
.banner2 img{position: absolute;left: 50%;margin-left: -808px;}

.list{margin-top: 80px;}
.list_left{width: 960px;float: left;}
.list_right{width: 223px;float: right;}

#tab-nav{width: 400px;box-shadow: 0 1px 2px 0px #d4d3d3;}
#tab-nav li{width: 200px;height: 50px;line-height: 50px;text-align: center;background: #fff;font-size: 20px;color: #666;}
#tab-nav li.on{background: #39a030;color: #fff;}
#tab-con .tabcon{display: none;}
#tab-con .on{display: block;}
#tab-con{padding: 30px 0 10px;}
.tabcon ul{overflow: inherit;width: 100%;}
.tabcon li{box-sizing: border-box;
	padding: 1px;margin:0 20px 20px 0;
	width: 225px;height: 228px;
	background: #fff;
	box-shadow: 0 1px 2px 0 #d4d4d4;
	font-size: 12px;
}
.tabcon li:nth-child(4n-1){margin-right: 0;}
.tabcon li:nth-child(4n){margin-right: 0;float: right;}
.tabcon li:hover{box-shadow: 0 1px 2px 1px #c7c7c7;}
.tabcon li:hover h5{color: #39a030;}

.tabcon .listpic{width: 100%;height: 124px;}
.tabcon h5{overflow: hidden;padding:0 4px;white-space: nowrap;text-overflow: ellipsis;font-weight: normal;color: #333;line-height: 30px;}
.tabcon p{padding-left: 4px;}
.tabcon .liname{color: #999;}
.tabcon .licount{
	height: 16px;width: 18px;
	padding:0 3px 0 18px;margin:7px 0 7px 4px;
	color: #999;
	border: solid 1px #ddd; border-radius: 2px;
	background: #fff url(../images/licount.png) 3px center no-repeat;
}
.tabcon .licount span{
	display: inline-block;
	line-height: 16px;
    -webkit-transform-origin-x: 0;
    transform-origin-x: 0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    font-size: 20px;
}
.tabcon .liprice{color:#ff3f00;font-weight: bold;}


.lrc1{ width: 100%;background: #fff;box-shadow: 0 1px 2px 0 #d4d4d4;}
.lrc1:hover{box-shadow: 0 1px 2px 1px #c7c7c7;}
.lrc1 h3{height: 55px;line-height: 55px;border-bottom: 1px solid #ddd;text-indent: 20px;font-size: 16px;font-weight: normal;}
.lrc1-sp{height: 230px;margin-bottom: 20px;}
.lrc1-sp p{font-size: 14px;color: #666;margin-left: 22px;line-height: 30px;margin-top: 12px;}
.lrc1-sp img{display: block;margin: 0 auto;cursor: pointer;}

.lrc1-hot ul{margin: 19px 20px 0;}
.lrc1-hot li{margin-bottom: 20px;}
.lrc1-hot li .hotpic{float: left;width: 50px;height: 50px;margin-right: 12px;}
.lrc1-hot li p.litit{overflow: hidden;white-space: nowrap;text-overflow: ellipsis;font-size: 14px;margin-top: -2px;}
.lrc1-hot li p.licount{
	float: left;margin-top: 10px;
	font-size: 11px;text-indent: 16px;color: #999;
	background: #fff url(../images/licount.png) 0 center no-repeat;
}

.pages li{
	width: 20px;height: 20px;margin-left: 9px;
	line-height: 20px;font-size: 14px;color: #666;text-align: center;
	cursor: pointer;}
.pages ul{display: inline-block;}
.pages .prev,.pages .next{
	display:inline-block;
	width: 30px;height: 20px;
	background: #9dd8b1 url(../images/prev.png) center no-repeat;}
.pages .next{transform: rotate(180deg);margin-left: 9px;}
.pages .index{color: #39a030;}
.pages li:hover{background: #9dd8b1;color: #fff;}


.footer{overflow: hidden;padding: 80px 0;background: #2c3339;color: #fff;}
.footer .fl{margin-left: 96px;line-height: 25px;font-size: 12.5px;}
.footer .fl img{margin-bottom: 20px;}